.main-nav {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // z-index: 10;
  width: 100%;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 23px;
    width: calc(50% - 24px - 48px);
    height: 1px;
    background-color: $brand-light;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $white;

    // мобильный вид списка
    @media (max-width: $screen-md - 1) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      padding: 0 44px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    position: relative;

    & + & {

      @media (min-width: $screen-md) {
        margin-left: 24px;
      }
    }

    &.active {

      & > #{$block-name}__link {
        color: $link-color;

        &::after {
          display: block;
          content: "";
          position: absolute;
          bottom: 9px;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background-color: $link-color;
        }
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 10px 4px;
    font-size: 20px;
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
    background-color: #fff;
    transition: all $transition-time;


    &:hover,
    &:focus {

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: 9px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: $link-color;
      }
    }
  }


  // переключатель

  &__toggler {
    //display: inline-flex;
    padding: 0;
    margin-bottom: 30px;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }
}
