.breadcrumbs {
  //margin-top: 25px;
  margin-bottom: 48px;

  // @media (min-width: $screen-md) {
  //   margin-bottom: 48px;
  // }

  $block-name:                &;
  // #{$block-name}__element

  &__list {
    display: flex;
    //flex-wrap: wrap;
    align-items: baseline;
    gap: 0.7em;
    overflow-x: auto;
  }


  &__item {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
    //margin-right: 0.7em;
    //margin-bottom: 0.5em;
    white-space: nowrap;
    //overflow: hidden;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: '\276F'; // U+276F, HTML-код &#10095; CSS-код  \276F - Прававя угловая скобка
      display: inline-block;
      vertical-align: baseline;
      margin-left: 0.6em;
      font-size: $font-size-sm;
      font-weight: 500;
      color: $text-muted;
    }

    &:last-child {

      #{$block-name}__link {
        text-decoration: none;
        color: $main-color;
      }
    }
  }

  &__link {
    max-width: 100%;
    font-size: font-size;
    font-weight: 500;
    color: $text-muted;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $main-color;
      text-decoration: none;
    }
  }
}
