.hero {
  padding-top: 24px;
  padding-bottom: 70px;

  @media (min-width: $screen-xl) {
    padding-bottom: 100px;
  }

  $block-name:                &; // #{$block-name}__element

  &__inner {
    gap: 70px 0;
  }

  &__text-col {
    @include col(xs, 12);
    @include col(md, 10);
    @include col-offset(lg, 1);
    @include col(lg, 6);
    //@include col-offset(xl, 1);
    //@include col(xl, 6);

    @media (min-width: $screen-lg) {
      order: 1;
    }
  }

  &__img-col {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(lg, 5);
    //@include col(xl, 5);
  }

  &__title {
    margin-bottom: 32px;
    font-size: 44px;

    @media (min-width: $screen-md) {
      font-size: 78px;
      line-height: 1;
    }

    &:not(>.double-slash) {
      font-family: $font-family--display;
      font-weight: 400;
    }
  }

  &__name {
    display: block;
    //vertical-align: baseline;
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 48px;

    span {
      display: inline-block;
      vertical-align: baseline;
      padding: 10px 16px;
      border-radius: $border-radius;
      border: 2px solid $brand-light;
    }
  }

  &__content {

    strong {
      color: $main-color;
    }
  }

  &__img {
    height: 100%;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: $border-radius;
    }
  }

  &__btn-wrapper {

    @media (max-width: $screen-md - 1) {
      text-align: center;
    }
  }
}
