.social-links {

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: inherit;

    &:active {
      color: $text-color;
    }
  }

  &__title {
    margin: 16px 0 0;
    text-align: center;
  }
}
