.lang-switcher {

  @media (max-width: $screen-xl - 1) {
    order: -1;
  }

  @media (min-width: $screen-xl) {
    margin-left: auto;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {

    & + & {
      margin-left: 24px;
    }

    &.active {

      #{$block-name}__link {
        color: $link-color--hover;
        border-color: currentColor;
      }
    }
  }

  &__link {
    display: flex;
    height: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none !important;
    color: inherit;
    transition: all $transition-time;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
      border-color: currentColor;
    }
  }
}
