.field-file {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 24px;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
    position: relative;
    pointer-events: none;
    border: 1px solid $brand-light;
    border-bottom-color: transparent;
    border-radius: $border-radius;
    //overflow: hidden;

    @media (min-width: $screen-md) {
      border-bottom-color: $brand-light;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;

    &:active ~ .field-file__name-text,
    &:focus-visible ~ .field-file__name-text {
      //@include field-focus;

      &::before {
        @include field-focus;
        color: $text-color;
        border-color: $brand-light;
        background-color: $white;
        background-image: svg-load('../blocks/field-file/bg-img/upload-simple.svg', fill=$text-color);
        //background-color: darken($gray-lightest, 10%); // как у обычных кнопок
      }
    }
  }

  &__name-text {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 0;
    font-size: $font-size;
    //background-color: $white;
    border-radius: 0;
    white-space: nowrap;
    //overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: $screen-md) {
      flex-direction: row-reverse;
    }

    &::before {
      box-sizing: border-box;
      content: attr(data-button-text);
      display: block;
      width: 100%;
      margin-right: 0;
      padding: 10px $field-padding-horizontal;
      padding-right: 60px;
      line-height: $line-height;
      color: $white;
      background-color: $link-color;
      background-repeat: no-repeat;
      background-position: right 22px center;
      background-size: 24px;
      background-image: svg-load('../blocks/field-file/bg-img/upload-simple.svg', fill=$white);
      border: 2px solid $link-color;
      border-radius: $border-radius;
      transition: all $transition-time;
      cursor: pointer;
      pointer-events: auto;

      @media (min-width: $screen-md) {
        max-width: 220px;
      }
    }

    &:hover,
    &:focus {

      &::before {
        color: $text-color !important;
        border-color: $link-color;
        background-image: svg-load('../blocks/field-file/bg-img/upload-simple.svg', fill=$text-color);
        background-color: $white; // как у обычных кнопок
      }
    }

    // &:active {

    //   &::before {
    //     color: $text-color !important;
    //     border-color: $brand-light !important;
    //     background-color: $brand-light;
    //     background-image: svg-load('../blocks/field-file/bg-img/upload-simple.svg', fill=$text-color) !important;
    //   }
    // }

    span {
      display: block;
      width: 100%;
      padding: $field-padding-vertical $field-padding-horizontal;
      font-size: $font-size;
      color: $text-muted;
    }
  }

  &__file-name {
    flex: 1 1 auto;
    font-weight: 500 !important;
    color: $title-color !important;
  }

  &__help-text {
    @include field-help-text;
    color: $color-danger;
  }
}
