.close {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: $white;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all $transition-time;

  &:hover,
  &:focus {
    color: $white;
    background-color: $color-danger;
  }

  &:active {
    color: $color-danger;
    background-color: initial;
  }
}
