.comment-card {
  //display: flex;
  //flex-direction: column;
  padding: 24px;
  background-color: $block-bg;
  border-radius: $border-radius;
  //gap: 24px;

  @media (min-width: $screen-md) {
    //flex-direction: initial;
    //gap: 0 70px;
    padding: 24px 48px ;
  }

  $block-name:                &; // #{$block-name}__element

  &__wrapper {

    & > * + * {
      margin-top: 24px;
    }
  }

  &__form-wrapper {
    padding-top: 64px;
  }

  &__form-title {
    margin-top: 0;
    margin-bottom: 24px;
  }

  // &__img {
  //   width: 120px;
  //   height: 120px;
  //   border-radius: 50%;

  //   @media (max-width: $screen-md - 1) {
  //     margin-left: auto;
  //     margin-right: auto;
  //   }

  //   @media (min-width: $screen-md) {
  //     flex: 0 0 120px;
  //   }

  //   img {
  //     object-fit: cover;
  //     object-position: center;
  //   }
  // }

  &__text {

    @media (max-width: $screen-md - 1) {
      text-align: center;
    }

    @media (min-width: $screen-md) {
      //flex: 1 1 auto;
      text-align: initial;
    }
  }

  &__title {
    margin: 0 0 20px;
  }
}
