.to-top {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  right: 12px;
  bottom: 16px;
  z-index: 10;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  //color: transparent;
  color: $main-color;
  background-color: rgba($white, 0.8);
  border: 2px solid $main-color;
  //font: 0/0 a;
  background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$main-color);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);

  @media (min-width: $screen-md) {
    right: 16px;
  }

  @media (min-width: $screen-xl) {
    right: 24px;
    bottom: 72px;
  }

  .js & {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

